body{
    background-color:rgb(71,72,75);
    color:#eeeeee
}

h1{
    margin:5%;
    position:center;
}
#waveform{
    margin:5%;
    position:center;
}
button{
    margin:5%;
    align-content: 
}
#canvas{
    margin:5%;
    position:center;
}