body{
    
    background-color:rgb(71,72,75);
    color :#eeeeee;
}

h1{

    margin:5%;
    
    
}
#waveform{
    margin:5%;
    position:center;
}
button{
    margin-left:5%
}

#canvas{
    position:center;
    margin:5%;
}
